

#grid {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
    border: 1px solid black;
}

.line {
    display: block;
    height: 15px;
}

.square {
    display: inline-block;
    float: left;
    height: 15px;
    width: 15px;
    /* border: 1px solid black; */
}

.food {
    background-color: red;
}


.snake-body {
    background-color: orange;
}

.snake-head {
    background-color: green;
}
